/* General styling */
.homepage {
  padding: 20px;
}

.category-section {
  margin-bottom: 40px;
   display: flex; 
  flex-direction: row;
}

.category-section1 {
  margin-bottom: 40px;

}

.top-stories-heading {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Category Cards */
.category-card {
   position: relative;
  display: flex;
  flex-direction: row;
  margin: 20px;
  
  border: 2px solid transparent;
  border-radius: 25px;
  justify-content: center;
  /* Horizontally center */
  align-items: center;
  cursor: pointer;

  box-shadow: 0 4px 12px rgba(12, 0, 0, 0.6);
  height: 20vh;
  width: 25vw;
  transition: transform 0.3s;
  /* overflow: hidden; */
  border-color: transparent;

}

.category-card .background {
  position: absolute;
  /* Position the background image absolutely */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  /* Center the image */
  background-size: cover;
  /* Cover the entire card */
  opacity: 0.9;
  /* Background opacity */
  z-index: 0;
  /* Ensure it is below the text */
}

.category-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.category-card.active {
  border-color: #6f47ff;
  box-shadow: 0 4px 12px rgba(24, 11, 212, 0.918);
  /* Highlight active category */
}


.category-card h3 {
  margin-top: 10px;
  font-size: 32px;
  text-align: center;
  color: rgb(250, 252, 252);
  position: relative;
  /* To ensure the text is above the background */
  z-index: 1;
}

/* Stories Grid for Desktop */
.stories-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4 stories per row on desktop */
  gap: 20px;
}

.story-card {
  background-color: #080808fa;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(12, 0, 0, 0.959);
  padding: 15px;
  text-align: center;
  height: 55vh;
}

.story-card .story-image {
  height: 200px;
  background-color: #ccc;
  background-size: cover;
  background-position: center;
}

.story-card h1 {
  font-size: 28px;
  margin: 10px 0;
  color: #f7f2f2;

}

.story-card p {
  font-size: 14px;
  color: #fcf6f6;
}

/* See More Button */
.see-more-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FF6347;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
}

.see-more-btn:hover {
  background-color: #FF4500;
}

/* Responsive Styles */
@media (max-width: 768px) {

  /* 1 story per row on mobile */
  .stories-grid {
    grid-template-columns: 1fr;
  }

  .category-section {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    
  }

  .category-card {
    position: relative;
    height: 15vh !important;
    width: 30vw !important;
    margin: 5px;
 
    /* Reduced margin for smaller screens */
  }

  .category-card h3 {
    font-size: 1.2rem;
    /* Smaller font size for mobile */
  }
}

/* Center 'No stories found' message */
.no-stories-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  /* Adjust to set vertical space */
  text-align: center;
}

.no-stories-container p {
  font-size: 20px;
  color: #111111b6;
}

/* Center 'See More' button */
.see-more-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Style for the 'See More' button */
.see-more-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff6b6b;
  /* Example button color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.see-more-btn:hover {
  background-color: #ff4949;
  /* Darker shade on hover */
}

.loading-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.1);
}

.spinner {
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.story-modal-home-container {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
  width: 100vw;
  height: 100vh;
}
.edit-btn{
  
  bottom: 10px;
}

.description-p{
  overflow: hidden;
  display:-webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}